@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

@font-face {
  font-family: "CaviarDreams";  
  src: url("../assets/fonts/caviar-dreams.ttf"); 
  font-style: normal; 
  font-weight: normal;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  &__title {
    font-family: "Agbalumo";  
  }
  &__logo {
    height: 10vh;
    pointer-events: none;
    animation: logo-spin infinite 20s linear;
  }
}

.main {
  color: white;
  background-color: transparent;
  font-family: CaviarDreams;
}

.footer {
  color: white;
  background-color: transparent;
  font-family: CaviarDreams;
  padding: 1rem 0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}