.battery-status-button {
  padding: 0.2rem 0.6rem;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 5px;
}
