*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  min-height: 100vh;
  overflow-x: hidden;
}

.history-input {
  margin: 1rem;
}

input {
  border: 2px solid grey;
  border-radius: 5px;
  margin: 2rem 0;
  padding:  0.2rem 0.5rem;
  margin-right: 1.5rem;
}

button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-right: 0.5rem;
  background-color: rgb(201, 196, 196);
}
