:root {
  --main-color: #32383F;
  --second-color: #A7ACB2;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: inherit;
}

#feedback {
  margin: 2rem;
  padding: 1.5rem 1rem;
  border: 1px solid var(--second-color);
  border-radius: 10px;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);
  font-family: sans-serif, -apple-system, 'Open Sans', BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

.feedback__form {
  display: flex;
  flex-direction: column;
}

.reaction-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.comment-container {
  margin-top: 1rem;
}

.feedback__title {
  color: var(--main-color);
}

.reaction-btns {
  margin-left: 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-self: start;
}

.feedback__like,
.feedback__dislike {
  background: none;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}

.feedback__like svg,
.feedback__dislike svg {
  transition: stroke 0.2s;
}

.feedback__dislike:hover svg,
.feedback__dislike.checked svg {
  stroke: #db4949;
}

.feedback__like:hover svg,
.feedback__like.checked svg {
  stroke: #3fce7a;
}

.feedback__submit-btn {
  display: none;
  background-color: var(--main-color);
  border-radius: 5px;
  padding: 0.6rem 1.8rem;
  color: white;
  cursor: pointer;
  align-self: flex-end;
  transition: background-color .2s;
  margin-top: 1rem;
}

.feedback__submit-btn:disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: not-allowed;
}

.feedback__submit-btn:hover {
  background-color: black;
}

.feedback__text {
  display: block;
  resize: none;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid var(--second-color);
  padding: 0.2rem 0.5rem;
  width: 100%;
  margin-top: 1rem;
  min-height: 4rem;
  outline-color: var(--main-color);
}

.feedback__text::placeholder {
  color: var(--second-color);
}

@media (max-width: 500px) {
  #feedback {
    margin: 1rem;
  }

  .reaction-container {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }

  .feedback__title {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .reaction-btns {
    margin: 0;
  }
}
