.window-manager {
  position: absolute;
  border: 1px solid rgba($color: #ffffff, $alpha: 0.2);
  padding: 1px;
  border-radius: 6px;
  min-height: 10rem;
  min-width: 30rem;
  max-height: calc(100vh - 3rem);
  max-width: 100vw;
  background-color: #191919;

  &_transition {
    transition: width .2s, height .2s, transform .2s, top .2s, left .2s; 
  }

  &_minimazed {
    width: 0px !important;
    height: 0px !important;
    min-height: 0px;
    min-width: 0px;
    transform: translate(50vw, 90vh);
  }

  &_none {
    display: none;
  }
}

.window-header {
  display: flex;
  background-color: #202020;
  height: 2.2rem;
  cursor: default;

  &__container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: auto;
    height: 28px;
    margin-bottom: auto;
  }

  &__control {
    height: 100%;
    margin-left: 1px;
    padding: .5rem 1rem;
  }
}

.window-content {
  overflow: auto;
  width: 100%;
  height: calc(100% - 2.2rem);
  padding: 0.3rem;

  &::-webkit-scrollbar {
    width: 5px; 
  }
  
  &::-webkit-scrollbar-track {
    background: #171717;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: #959595;
    border-radius: 5px;
  }
}

.control-close {
  border-top-right-radius: 6px;

  &:hover {
    background-color: #E81123;
  }
}
