@import "../../../mixins/scrollbar-mixin.scss";

$border: 1px solid rgba($color: #ffffff, $alpha: 0.2);

.file-explorer {
  width: 100%;
  height: 100%;
  border-top: $border;

  &__container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    border-bottom: $border;
  }

  &__path {
    border-left: $border;
    height: 100%;
    padding: 0.5rem;
  }

  &__item {
    width: 4.5rem;
    height: max-content;
    min-height: 4.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    padding: 0.2rem;
    font-size: 0.7rem;

    & svg {
      stroke: none;
      width: 48px;
      height: 48px;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  &__control-button {
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0 0.5rem;

    & svg {
      stroke-width: 20;
    }
  }

  &__grid {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    height: min-content;

    @include scroll-bar;
  }
}

.next-button svg {
  transform: rotate(180deg);
}
