@import "../../../mixins/scrollbar-mixin.scss";

.notebook {
  width: 100%;
  height: calc(100% - 4px);

  &__text {
    width: 100%;
    height: 100%;
    background: #272727;
    color: #ffffff;
    font-size: 0.9rem;
    resize: none;
    outline: none;
    border: none;
    padding: 5px;

    @include scroll-bar;
  }
}
