.battery-settings-popup {
  width: 15rem;
  height: 10rem;
  padding: 1rem;
  transform: translate(-50%, -100%);
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
