.taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3rem;
  backdrop-filter: blur(20px);
  background-color: rgba($color: #252525, $alpha: .8);
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 3px;
  }

  &__app {
    width: 2.6rem;
    height: 2.6rem;
    padding: 0.3rem;
    border-radius: 5px;
    transition: scale .4s;

    & img {
      width: 100%;
      height: 100%;
    }

    &:active img {
      scale: 0.9;
    }

    &_opened::after {
      content: "";
      display: block;
      bottom: 5px;
      border-radius: 5px;
      position: absolute;
      height: 3px;
      width: 0.5rem;
      background-color: #aaaaaa;
      transition: width .2s;
    }
  }
}

.start-button {
  filter: brightness(1.5);
}

.button_checked::after {
  background-color: #11a1e9;
  width: 1rem;
}

.popap-menu__button {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: transparent;
  color: #ffffff;
  transition: background-color 0.1s;

  &:hover {
    background-color: rgba($color: #ffffff, $alpha: 0.1);
  }
}
